Invalid OIDC redirect URI on desktop

### Steps to reproduce

1. Enable `feature_oidc_native_flow` in config.json
2. Log out and restart the app
3. Open the devtools to the network tab
4. Click log in
5. Edit the homeserver and choose one running MAS (which ignores missing contacts and host mismatch...)
6. Observe the dynamic client registration request

### Outcome

#### What did you expect?
Client to be registered successfully

#### What happened instead?
Client registration fails due to invalid redirect URI and the client falls back to compatibility SSO

### Additional details
The redirect URI is `io.element.desktop://vector/webapp/`, which includes `vector` as the authority part due to the double slash.
According to [Section 7.1 of RFC8252](https://datatracker.ietf.org/doc/html/rfc8252#section-7.1):
> Following the requirements of [Section 3.2 of [RFC3986]](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2), as there is no naming authority for private-use URI scheme redirects, only a single slash ("/") appears after the scheme component.  A complete example of a redirect URI utilizing a private-use URI scheme is:
> 
>     com.example.app:/oauth2redirect/example-provider
The correct redirect URI would be `io.element.desktop:/vector/webapp/`

### Operating system

Arch Linux

### Application version

Element version: 1.11.73 Crypto version: Rust SDK 0.7.1 (431263d), Vodozemac 0.6.0

### How did you install the app?

https://archlinux.org/packages/extra/x86_64/element-desktop/

### Homeserver

Synapse 1.112.0, matrix-authentication-service v0.10.0-rc.0

### Will you send logs?

No